.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
  width: 400px;
  max-width: 400px;
  float: center;
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  min-width: 20px;
}

.todo p{
  min-width: 20px;
  min-height: 25px;
}

.todoEditBox{
  min-width: 100%;
  width: 100%;
}
.todo form{
  width: 100%;
  min-width: 100%;
}

#createTodo{
  width: 100%;
  min-width: 100%;
}

.deleter {
  max-width: 3px;
  max-height: auto;
  padding: 0px;
}

